	<style>
	 .name {
	 color: black;
	 size: 10;
	 font-family: Verdana;
	 }
	 .address{
	 size:4;
	 }
	 .body{
	 text-align:center;
	 background-color: black;
	 }
	 
	 ul { display: table; margin: 0 auto;}
	 ol { display: table; margin: 0 auto;}
	.menu {
	 position: sticky;
	 top: 0;
	 background-color: #eee0a7;
	 
		font-family: Impact;
		width: 99%;
	
	}
	.menustyle {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 300px;
		
	}
	.list{
		float: left;
		border-right: 1px solid #f4ffee;
		
		}
	li a {
	 display: block;
	 color: #000;
	 padding: 8px 16px;
	 text-decoration: none;
	}
	li a:hover {
	 background-color: #b7362a;
	 color: white;
	}
	
	.link_active {
	 background-color: #b7362a;
	 color: white;
	 
	}
	.picture{
	height: 180px; 
	width: 180px;
	border-radius: 275px;
	}
	</style>
