	<style>
	 .name {
	 color: black;
	 size: 20;
	 font-family: Trebuchet;
	 }
	 .bodytext{
	 font-size:16;
	font-family: Bookman;
	 }
	 .body{
	 text-align:center;
	 background-color: silver;
	 }
	 
	 ul { display: table; margin: 0 auto;}
	 ol { display: table; margin: 0 auto;}
	.menu {
	 position: sticky;
	 top: 0;
	 background-color: #eee0a7;
	 
		font-family: Impact;
		width: 100%;
		height: 50px;
		font-size: 25;
	
	}
	.menustyle {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%;
		
	}
	.list{
		float: left;
		border-right: 20px;
		display: inline;
		
		}
	li a {
	 display: block;
	 color: #000;
	
	 text-decoration: none;
	}
	li a:hover {
	 background-color: #b7362a;
	 color: white;
	}
	
	.link_active {
	 background-color: #b7362a;
	 color: white;
	 
	}
	.picture{
	height: 210px; 
	width: 210px;
	border-radius: 275px;
	}
	h3{ 
	color: black;
	 size: 20;
	 font-family: Trebuchet;
	
	}
	h2{
	color: black;
	 size: 25;
	 font-family: Trebuchet;
	}
	</style>
